<h1>Welcome {{userInfo.name}} to Coins Page</h1>
        {{#if message}}
       <p style="font-size:16px" class="alert alert-warning" role="alert">{{message}}</p>
        {{/if}}

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">1h%</th>
        <th scope="col">24h%</th>
        <th scope="col">7d%</th>
        <th scope="col">Price</th>
        <th scope="col">Market Cap</th>
        <th scope="col">Volume 24</th>
        <th scope="col">Add to Favorites</th>
      </tr>
    </thead>
    <tbody>
      {{#each coinData}}
        <tr>
          <td >{{name}}</td>
 
          <td>{{percent_change_1h}}</td>
          <td>{{percent_change_24h}}</td>
          <td>{{percent_change_7d}}</td>
          <td>{{price_usd}}</td>
          <td>{{market_cap_usd}}</td>
          <td>{{volume24}}</td>
          <td>
            <form action="/user/coins" method="POST"> 
            <input type="hidden" name="favCoin" value="{{name}}">
            <button class="btn btn-success" type="submit">Add to Favorites</button>
            </form>
          </td>

        </tr>
      {{/each}}

    </tbody>
  </table>
  

