<h1>Welcome {{userInfo.name}} this is your Dashboard</h1>
<div style="background-color : red">
  <p>The total price when you bought: {{walletTotal}}</p>
</div>
<div style="background-color : green">
  <p>The worth of your current value: {{totalWorth}}</p>
</div>

<h2>Here is your fav Coins</h2>
       {{#if message}}
         <p>{{message}}</p>
        {{/if}}
        {{#if fetchedCoins}}
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">1h%</th>
        <th scope="col">24h%</th>
        <th scope="col">7d%</th>
        <th scope="col">Price</th>
        <th scope="col">Market Cap</th>
        <th scope="col">Volume 24</th>
        <th scope="col">Add to Favorites</th>
      </tr>
    </thead>
    <tbody>
      {{#each fetchedCoins}}
        <tr>
          <td>{{name}}</td>
          <td>{{percent_change_1h}}</td>
          <td>{{percent_change_24h}}</td>
          <td>{{percent_change_7d}}</td>
          <td>{{price_usd}}</td>
          <td>{{market_cap_usd}}</td>
          <td>{{volume24}}</td>
          <td>
            <form action="/user/dashboard" method="POST"> 
            <input type="hidden" name="unfavCoin" value="{{name}}">
            <button type="submit"  class="btn btn-danger">Remove From Favorites</button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}