<h1> Welcome to your wallet {{userInfo.name}}</h1>
<div style="background-color : red">
  <p>The total price when you bought: {{walletTotal}}</p>
</div>
<div style="background-color : green">
  <p>The worth of your current value: {{totalWorth}}</p>
</div>


<form action="/user/wallet" method="POST">
  <label>
    Bitcoin Name
    <select name="name">
      {{#each data.data}}
        <option>{{name}}</option>
      {{/each}}
    </select>
  </label>
  <label>
    Amount
    <input type="text" name="amount" placeholder="amount" />
  </label>
  <button type="submit">Add the value</button>
</form>

<table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>sum</th>
        <th>The Price User Bought</th>
        <th>Current Price of Coin</th>
      </tr>
    </thead>
<tbody>
  {{#each walletInfo}}
  <tr>
    <td>
      {{name}}
    </td>
    <td>
      {{amount}}
    </td>
    <td>
      {{sum}}
    </td>
    <td>
      {{currentPrice}}
      
    </td>
       {{#with (lookup ../apiCurrentValue @index)}}
          <td>{{this}}</td>
        {{/with}}
  </tr>
  {{/each}}

</tbody>
</table>
