<h1> Welcome to your wallet {{userInfo.name}}</h1>


{{#if message}}
<p>{{message}}</p>
{{/if}}
<div style="background-color : red">
  <p>The total price of your coins when you bought them: {{walletTotal}}</p>
</div>
<div style="background-color : green">
  <p>The worth of wallet: {{totalWorth}}</p>
</div>


<form action="/user/wallet" method="POST">
  <label>
    Bitcoin Name
    <select class="form-select"  name="name">
      {{#each data.data}}
        <option class="dropdown-item">{{name}}</option>
      {{/each}}
    </select>
  </label>
  <label>
    Amount
    <input class="form-control" type="text" name="amount" placeholder="amount" />
  </label>
  <button type="submit" class="btn btn-success">Add the value</button>
</form>
{{#if walletInfo}}
<table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">sum</th>
        <th scope="col">The Price You Bought</th>
        <th scope="col">The Current Price </th>
        <th scope="col">Delete </th>
      </tr>
    </thead>
<tbody>
  {{#each walletInfo}}
  <tr>
    <td>
      {{name}}
    </td>
    <td>
      {{amount}}
    </td>
    <td>
      {{sum}}
    </td>
    <td>
      {{currentPrice}}
      
    </td>
       {{#with (lookup ../apiCurrentValue @index)}}
          <td>{{this}}</td>
        {{/with}}
          <td>
            <form action="/user/wallet-delete" method="POST"> 
            <input type="hidden" name="coinForm" value="{{name}}">
            <button   class="btn btn-danger" type="submit">Delete</button>
            </form>
          </td>
  </tr>
  {{/each}}

</tbody>
</table>

  {{/if}}
